# Dependencies
node_modules/
venv/
.venv/
env/

# Builds
build/
dist/
frontend/build/
frontend/dist/

# Logs and debug
*.log
logs/

# Python
__pycache__/
*.py[cod]

# System
.DS_Store
Thumbs.db

# Env
.env
.env.*
.env.example

# Others
*.db
*.sqlite
*.rdb
*.lock
